.card {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px 15px 10px;
  border-radius: 4px;
  border: 0.5px;
  border-style: solid;
  border-color: #dddddd;
}

.card:hover {
  cursor: pointer;
  background-color: #f8f8f8;
}

.card:focus {
  background-color: #eaeaea;
}

.tags {
  margin-bottom: 10px;
}

.tag {
  font-size: 13px;
  color: #63a8ff;
  margin-right: 7px;
}

/* .tag:hover {
  color: #0057C7;
} */